.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 2px solid #e3edf7;
}

.navbar-logo img {
  height: 40px;
}

.active {
  color: #3b5ac2;
}

.nav-link.active {
  color: #3b5ac2;
}
